*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}


h1{
    font-size: 74px;
    color: white;

}
h5{
    font-size: 24px;
    color: white;
}
small{
    font-size: 14px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.header__container{
    display: flex;
    background-color: rgb(212, 212, 25);
    font-weight: bold;
    padding: 16px 32px;
    padding-left: 300px;
    font-size: 20px;
    height: 5vh;
}

.header__img{
    color: red;
    font-size: 18px;
}

.header__para{
margin-left: 16px;
}


#landing{
    width: 100%;
    height: 95vh;
    position: relative;
}

/*NAVIGATION BAR*/
nav{
    padding: 8px 0;
    max-width: 100%;
    
}
.nav__container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding: 0 6%;
    width: 90%;
}

.nav__brand{
    font-size: 24px;
    margin-top: 16px;
    padding: 5px 0;
}


.nav__links{
    display: flex;
    list-style: none;
    margin-left: 25%;
    
    
}

.nav__link{
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    
}


.nav__link--primary{
    background: #ee5007;
    border: 2px solid transparent;
    border-radius: 24px;
    padding: 10px 20px;
}


/*LANDING*/

.hero{
    position: relative;
}

.hero__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 254px 167px;
}

.btn{
    margin-top: 24px;
}
.hero__bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 330px;
}
.hero__bottom--date{
    font-size: 24px;
    margin-bottom: 8px;
    display: flex;
}

.hero__bottom--place{
    font-size: 24px;
    margin-bottom: 8px;
    display: flex;
}
.hero__bottom--social{
    font-size: 24px;
    margin-bottom: 8px;
}

.hero__bottom--span{
    color: white;
}
.fa-brands{
    margin-right: 8px;
    color: #ee5007;
}
.fa-clock{
    color: #ee5007;
}
.fa-location-dot{
    color: #ee5007;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}